@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Slab&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter';
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background: white;
    padding: 60px;
    width: 550px;
    max-width: calc(100% - 60px);
}

.form-element {
    display: flex;
    flex-direction:column;
    margin-bottom: 30px;
}

.form-element span {
    margin-bottom: 10px;
}

input, textarea {
    border: 1px solid #d0d2e2;
    line-height: 2;
    padding: 5px;
    border-radius: 5px;
}

.radio-buttons label {
    margin-bottom: 10px;
    cursor:grab;
}

button {
    width: 100%;
    padding: 10px;
    color: white;
    background: #1aaaef;
    cursor:grab;
    border-radius: 5px;
}
