@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Slab&display=swap');

body {
    font-family: 'Inter';
    align-items: center;
    justify-content: center;
    margin:0;
    background-color: #36393f;
    color:white;
}
.img {
    width: 100%;
    padding: 10px;
}

form {
    background: rgb(112, 112, 112);
    padding: 60px;
    width: 550px;
    max-width: calc(100% - 60px);
}

button {
    width:17%;
    height:5%;
    padding: 10px;
    color: white;
    background: #1aaaef;
    cursor:grab;
    border-radius: 30px;
    font-size:15px;
}

button:hover {
    box-shadow: 0 0 10px rgb(209, 209, 209), 0 0 20px rgb(209, 209, 209);
}

li {
    list-style: none;
    display:inline-block;
    line-height:70px;
}

li a {
    text-decoration: none;
    padding: 0 20px;
    display: block;
    color:white;
}

li a:hover {
    color:rgb(209, 209, 209);
}

nav {
    width: 100%;
    height: 70px;
    background-color: #6958ff;
    position: sticky;
    top:0;
}

.moving {
    color:white;
    padding:10px
}

.head {
    font-size: 30px;
}

.bod {
    padding:50px;
    font-size: 20px;
}

.footer {
    padding:20px;
}

.bar {
    font-size:18px;
}